modules = ["nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Start React App"

[[workflows.workflow]]
name = "Start React App"
author = 43861507
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
